<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6">
      <div class="book-trip-form-wrapper text-center">
        <%= simple_form_for [trip, booking], input_html: { id: "trip-form" } do |f| %>
        <%= f.input :check_in, as: :date, html5: true  %>
        <%= f.input :check_out, as: :date, html5: true  %>
        <%= f.input :guests, as: :integer, input_html: { class: "input-width-set", placeholder: "Input guest amount" } %>
        <%= f.input :current_location,  input_html: { class: "input-width-set", placeholder: "Flying from?" } %>
        <%= f.button :submit, class: "create_trip" %>
        <% end %>
        <%= render "shared/flashes" %>
      </div>
    </div>
  </div>
</div>
<!-- TODO: Change hotel to flight
  <!-- Link to the plane website -->
  <!--  save in database-->
