<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
      <%= simple_form_for(@trip) do |f| %>
      <%= f.input :name , label: "Give a name to your trip" %>
      <%= f.input :hotel_name %>
      <%= f.input :link_hotel, label: "add a link to the hotel" %>
      <%= f.input :description %>
      <%= f.input :location %>
      <%= f.input :price_experience, label: "Price per night" %>
      <%= f.input :category_id, collection: @categories%>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit class: "btn btn-pic text-center"%>
      <% end %>
    </div>
  </div>
</div>

