<div class="hotel-name">
  <h3>
    <%= trip.hotel_name %>
  </h3>
</div>
<div class="hotel-description">
  <div class="hotel-img">
    <%= image_tag 'hotel.svg' %>
  </div>
  <div class="hotel-details">
    <h5>
      <%= trip.hotel_name %>
    </h5>
    <p>
      <%= trip.description %>
    </p>
  </div>
</div>

  <% if trip.activities.length > 0 %>
    <div class="container-cards">
      <div class="activities-trip">
        <h3>Activities</h3>
      </div>
      <div class="row">
      <div class="col-xs-12">
      </div>
        <% activities.each do |activity| %>
        <div class="col-xs-12 col-lg-4">
          <%= render partial: "activity_card", locals: { activity: activity } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
