show.html.erb
<%= @trip.name %>


<div class="book-trip">
  <%= simple_form_for [@trip, @booking], input_html: { id: "trip-form" } do |f| %>
  <%= f.input :check_in, as: :date, html5: true  %>
  <%= f.input :check_out, as: :date, html5: true  %>
  <%= f.input :guests, as: :integer %>
  <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>

</div>
