<div class="booking-trip-page-wrapper">
  <div class="trip-name">
    <%= @trip.name %>
  </div>
  <div class="trip-location">
    <%= @trip.location %>
  </div>
  <% if @trip.activities.length > 0 %>
    <%= render partial: "carousel", locals: { trip: @trip, activities: @activities } %>
  <% else %>
    <div class="trip-card-banner" style="background-image: linear-gradient(rgba(255, 255, 255, 0) 90%,white 100%), url(<%= cl_image_path @trip.photo%>);">
      <span class="label-brand bordered">
        $<%= @trip.price_experience %>
      </span>
    </div>
  <% end %>

  <%= render partial: "hotel_information", locals: { trip: @trip, activities: @activities } %>


  <% if current_user.trip_ids.include?(@trip.id) %>
    <div class="text-center">
      <%= link_to "Add activity", new_trip_activity_path(@trip), class: "btn-pic " %>
    </div>
  <% else %>
    <%= render partial: "booking_form", locals: { trip: @trip, booking: @booking } %>
  <% end %>
</div>

<%= render partial: "shared/floating_button" %>

