<% @categories.each do |category| %>
  <%= link_to category.name, root_path(category: category.name) %>
<% end %>


<ul>
  <% @trips.each do |trip| %>
  <li>
    <%= link_to trip.remote_photo_url, trip_path(trip) %>
    <h3><%= link_to trip.name, trip_path(trip) %></h3>
    <h4><%= trip.description %></h4>
    <p><%= trip.date %></p>
    <p><%= trip.price_experience %></p>
    <p><%= trip.category.name %></p>
    <%= link_to trip_path(trip) do %>
      <p><%= cl_image_tag trip.photo %></p>
    <% end %>
  </li>
  <% end %>
</ul>
