<div class="category-container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
      <% @categories.each do |category| %>
        <%= link_to root_path(category: category.name) do %>
          <%= image_tag category.photo, class: 'category-image'%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<div class="container">
  <% @trips.each do |trip| %>
        <%= link_to trip.photo, trip_path(trip) %>
        <h3><%= link_to trip.name, trip_path(trip) %></h3>
        <%= trip.description %>
        <p><%= trip.date %></p>
        <p><%= trip.price_experience %></p>
        <%= trip.category.name %>
        <%= button_to "Save trip", trip_saved_trips_path(trip) %>
  <% end %>
</div>



