<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="tabs">
        <a href="#" class="tab active" data-target="shared">
          My shared trips
        </a>
        <a href="#" class="tab" data-target="saved">
          My saved trips
        </a>
         <a href="#" class="tab" data-target="map-show">
          My trips map
        </a>
      </div>
    </div>
  </div>
</div>

<div class="tab-content" id="shared">
  <div class="container">
    <div class="row">
      <% @trips.each do |trip| %>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <%= render partial: 'shared/card', locals: { trip: trip, booked: true, user_bio: false, edit_trip:true, add_save_trip: false, marker_booked: false, book_trip:false } %>
        <% end %>
      </div>
    </div>
  </div>
</div>



<div class="tab-content hidden" id="saved">

  <div class="container">
    <div class="row">
      <% @saved_trips.each do |saved_trip| %>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <%= render partial: 'shared/card', locals: { trip: saved_trip.trip, booked: false, user_bio: true, edit_trip: false, add_save_trip:false, marker_booked:true, book_trip:false } %>
        <% end %>
      </div>
    </div>
  </div>

</div>


<div class="tab-content hidden" id="map-show">

    <div class= "map-wrapper">
      <div id="map" style="width: 60%; height: 550px;"></div>


      </div>
    </div>

</div>


<%= render partial: "shared/floating_button" %>


<script type="text/javascript">
  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        markers2 = handler.addMarkers(<%= raw @markers2.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(5);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(9);
        }
        else {
          handler.getMap().setZoom(2);
        }
      });
    <% end %>
  <% end %>
</script>




