<div class="text-center edit-trip">
  <h1>Add activity to trip</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
      <%= simple_form_for([@trip, @activity]) do |f| %>
      <%= f.input :activity_type %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <div class="button-shared">
      <%= f.submit class: "btn btn-pic btn-activity"%>
      <%= link_to "Skip", trip_path(@trip), class: "btn-pic btn-activity" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
